footer
    p #visitSEDONA
    ul
      li
        img(src="img/icon-twitter.svg" alt="Лого Твиттера")
      li
        img(src="img/icon-facebook.svg" alt="Лого Фейсбука")
      li
        img(src="img/icon-youtube.svg" alt="Лого Ютуба")
    p Разработано
      img(src="img/htmlacademy.svg" alt="Лого htmlacademy")

