header.header
  img(src='img/logo-sedona-mobile.svg' alt='Logotype of Sedona' width='102' height='85').header__logo
  nav.header__nav.nav-menu
    ul.nav-menu__list
      li.nav-menu__item.nav-menu__item Главная
      li.nav-menu__item.nav-menu__item Фото и видео
      li.nav-menu__item.nav-menu__item--right Форма отзыва
      li.nav-menu__item.nav-menu__item HTML Academy
    button(aria-label="Меню").nav-menu__switcher
      img(src="img/icon-menu.svg"
          width="23"
          height="22"
          alt="Иконка гамбургер")
