@import "../mixins/media";

.reasons {
  background: $sedona-gray;
  display: flex;
  flex-direction: column;
}

.reasons__header-wrapper {
  height: 221px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $sedona-white;
}

.reasons__header {
  display: inline-block;
  text-align: center;
  width: 285px;
  margin-top: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $sedona-black;
  mix-blend-mode: normal;
}

.reasons__lead {
  display: inline-block;
  text-align: center;
  width: 285px;
  margin-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: $sedona-dark;
  mix-blend-mode: normal;
}

.reasons__list {
  padding: 0;
  margin: 0;
  list-style: none;

  &--featured {}

  &--general {
    padding-top: 27px;
    margin-left: 20px;
    margin-right: 20px;
    background: $sedona-gray;
    height: 167px;
    color: $sedona-black;
  }

  @include media-only-mobile {
    &--general + &--general {
      border-top: 1px $sedona-more-gray solid;
    }
  }
}

.reasons__general-wrapper {
  background-color: $sedona-gray;
}


.highlights {
  padding: 35px 20px;
  background: $sedona-white;
}

.highlights__list {
  padding: 0;
  list-style: none;
}

.highlights__list li + li {
  margin-top: 26px;
}

.highlights_item {
  position: relative;
}

.highlights_item__header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $sedona-dark;
  mix-blend-mode: normal;
  padding-left: 48px;
}

.highlights_item__icon {
  position: absolute;

  &--house {
    width: 39px;
    top: -8px;
    left: 0;
  }

  &--gift {
    width: 32px;
    top: -9px;
    left: 4px;
  }

  &--burger {
    width: 40px;
    top: -4px;
    left: -3px;
  }
}

.highlights_item__lead {
  margin-top: 16px;
  padding-left: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $sedona-dark;
}

.text-card {
  height: 191px;
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $sedona-blue;
  color: $sedona-white;
  margin: 0 -1px;

  &--first {
    height: 211px;
    padding-top: 55px;
  }

  &--other + &--other {
    border: 4px darkblue solid;
  }

  @include media-tablet {
    height: 256px;
    border-bottom: none;
  }
}

.text-card__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

}

.text-card__number {
  margin-top: 13px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.text-card__description {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  mix-blend-mode: normal;
  text-transform: uppercase;
}

.text-card__wrapper {
  margin: 0 13px;
  height: 100%;
}

.picture-card {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: $sedona-blue;
  color: $sedona-white;
  margin: 0 -1px;
}

.picture-card__image {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
