@import "../mixins/media";

.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reasons__header-wrapper {
  height: 221px;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $sedona-white;

  @include media-tablet {
    height: 206px;
  }
}

.reasons__header {
  display: block;
  text-align: center;
  margin: 32px 17px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $sedona-black;
  mix-blend-mode: normal;

  @include media-tablet {
    margin-top: 43.5px;
    font-size: 21px;
  }
}

.reasons__lead {
  display: inline-block;
  text-align: center;
  margin: 32px 17px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: $sedona-dark;
  mix-blend-mode: normal;
}

.reasons__list {
  padding: 0;
  margin: 0;
  list-style: none;

  &--featured {
  }

  &--general {
    padding-top: 27px;
    margin-left: 20px;
    margin-right: 20px;
    background: $sedona-gray;
    height: 167px;
    color: $sedona-black;
  }

  @include media-only-mobile {
    &--general + &--general {
      border-top: 1px $sedona-more-gray solid;
    }
  }
}

.reasons__general-wrapper {
  background-color: $sedona-gray;
}

.highlights {
  padding: 35px 20px;
  background: $sedona-white;

  @include media-tablet {
    padding: 0;
  }
}

.highlights__list {
  padding: 0;
  list-style: none;
}

.highlights__list li + li {

  @include media-only-mobile {
    margin-top: 26px;
  }
}

.highlights_item {
  position: relative;

  @include media-tablet {
    height: 330px;
  }
}

.highlights_item__header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $sedona-dark;
  mix-blend-mode: normal;
  margin-top: 0;
  margin-left: 48px;

  @include media-tablet {
    margin-top: 157px;
    margin-left: 0;
    width: 100%;
    text-align: center;
    font-size: 21px;
  }
}

.highlights_item__lead {
  margin-top: 16px;
  margin-left: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $sedona-dark;

  @include media-tablet {
    margin: 24px 25px 0;
    text-align: center;
  }
}

.highlights_item__icon {
  position: absolute;

  @include media-tablet {
    width: 75px;

  }

  &--house {
    width: 39px;
    top: -8px;
    left: 0;

    @include media-tablet {
      width: 75px;
      top: auto;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 198px;
    }
  }

  &--gift {
    width: 32px;
    top: -9px;
    left: 4px;

    @include media-tablet {
      width: 64px;
      top: auto;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 198px;
    }
  }

  &--burger {
    width: 40px;
    top: -4px;
    left: -3px;

    @include media-tablet {
      width: 76px;
      top: auto;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 198px;
    }
  }
}


.text-card {
  height: 191px;
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $sedona-blue;
  color: $sedona-white;
  margin: 0 -1px;

  &--first {
    height: 211px;
    padding-top: 55px;
  }

  @include media-tablet {
    height: 256px;
    border-bottom: none;
  }
}

.text-card__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

}

.text-card__number {
  margin-top: 13px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.text-card__description {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  mix-blend-mode: normal;
  text-transform: uppercase;
}

.text-card__wrapper {
  margin: 0 13px;
  height: 100%;
}

.picture-card {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: $sedona-blue;
  color: $sedona-white;
  margin: 0 -1px;

  @include media-tablet {
    height: 256px;
    border-bottom: none;
  }
}

.picture-card__image {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
